
.input-container input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #eac67a;
    height: 4rem;
    width: 20rem;
    margin: 1rem 2rem;
}
.detect {
    margin: 1rem;
}



