/*Styles for Button.js*/

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background: transparent;
    cursor: pointer;
    width: 125px;
    height: 15px;
    font-size: 25px;
    transition: all .2s ease-in-out;
    margin: .2rem 1rem;
    border: 1px solid #eac67a;
}

.button1:hover {
    color: #eac67a;
}

