/*Styles for Button.js*/

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background: transparent;
    cursor: pointer;
    width: 150px;
    height: 25px;
    font-size: 25px;
    /*border-bottom: 2px solid #e8e8e8;*/
    /*border: 2px solid transparent;*/
    transition: all .2s ease-in-out;
    margin: 1rem;
}

.button1:hover {
    color: #808080;
}

