.nav-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
}
.nav-title {
    cursor: pointer;
    font-style: bold;
    font-variant: small-caps;
    margin-left:3rem;
}
.button-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

}
