.App {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #e8e8e8;
}
.header2 .title{
  font-size: 3rem;
  font-variant:small-caps;
  animation: fadein 2.5s;
}
.header2 .subtitle {

   animation: fadein 1s;
}
@keyframes fadein {
  from{opacity: 0;}
  to{opacity:1;}
}

.header2 {
  width:100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header3 {
  width:100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10rem;
}

.page-content {
  width:100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}


